<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="proxy_host" value="127.0.0.1" />
		<add key="proxy_port" value="22307" />
		<add key="use_proxy" value="false" />
		<add key="export" value="E:\code\vs code\WFM3u8" />
		<add key="ffmpeg" value="E:\ffmpeg-20250721\bin\ffmpeg.exe" />
	</appSettings>
</configuration>